languages
upgrade
uploads

themes/twentyfifteen
themes/twentyfourteen
themes/twentysixteen
themes/index.php
themes/kaibara

plugins/akismet
plugins/hello.php
plugins/index.php
plugins/wp-multibyte-patch
plugins/advanced-custom-fields

