languages
upgrade
uploads
index.php
.DS_Store

themes/twentyfifteen
themes/twentyfourteen
themes/twentysixteen
themes/index.php
themes/kaibara
themes/.DS_Store

plugins/akismet
plugins/hello.php
plugins/index.php
plugins/wp-multibyte-patch
plugins/advanced-custom-fields
plugins/.DS_Store
